<configuration>
  <configSections>
    <!--配置Unity 固定写法-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <!--配置Unity 固定写法-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="aopContainer">
        <extension type="Interception"/>
        <!--IOC 注册实例 type=“抽象类库名称.类名称,抽象类库名称”    mapTo=“实现业务类库名称.实现业务类名称,实现类库名称”-->
        <register type="One.AOPDemo.IUser,One.AOPDemo" mapTo="One.AOPDemo.User,One.AOPDemo">
          <!--AOP 配置,公共接口必须实现IInterceptionBehavior-->
          <interceptor type="InterfaceInterceptor"/>
          <!--注册实例 type=“公共类库名称.类名称,公共类库名称”-->
          <interceptionBehavior type="One.AOPDemo.ExceptionDemo,One.AOPDemo"/>
          <interceptionBehavior type="One.AOPDemo.CatchDemo,One.AOPDemo"/>
          <interceptionBehavior type="One.AOPDemo.UnityDemo,One.AOPDemo"/>
          
        </register>
      </container>
    </containers>
  </unity>
</configuration>

